language: java

sudo: false

notifications:
  email:
  - renato.mendes.1123@gmail.com

# Defines stages
stages:
- name: compile
- name: test
- name: scan
- name: deploy-development
  if: [ branch = develop && $TRAVIS_PULL_REQUEST = "false" ]
- name: release
  if: [ branch = master && $TRAVIS_PULL_REQUEST = "false" ]

jdk:
- openjdk8

addons:
  sonarcloud:
    organization: scipionyxio
    projectKey: product-common-starters
    login: 085bf98ecfdac03277298430589e7ad750b938b0
    token:
      secure: 085bf98ecfdac03277298430589e7ad750b938b0

jobs:
  include:
  - stage: compile
    script: mvn -s settings.xml --batch-mode compile
  - stage: test
    script: mvn -s settings.xml --batch-mode test
  - stage: scan
    script: mvn -s settings.xml --batch-mode org.jacoco:jacoco-maven-plugin:prepare-agent sonar:sonar
  - stage: deploy-development
    script: mvn -s settings.xml --batch-mode deploy
  - stage: release
    script: |
            mvn -s settings.xml \
            --batch-mode \
            build-helper:parse-version \
            versions:set -DnewVersion='${parsedVersion.majorVersion}.${parsedVersion.minorVersion}.${parsedVersion.nextIncrementalVersion}'
            deploy
            -B -DskipTests=true