language: java

sudo: false

notifications:
  email:
  - renato.mendes.1123@gmail.com

# Defines stages
stages:
  - name: branch
  - name: develop

jdk:
- openjdk8

before_install:
  - cp .travis.maven.settings.xml $HOME/.m2/.travis.maven.settings.xml

cache:
  directories:
  - '$HOME/.m2'
  - '$HOME/.sonar/cache'

addons:
  sonarcloud:
    organization: "scipionyx-io-industrially"
    projectKey: "scipionyx-io-industrially-starters"
    token:
      secure: 5d31480c120e3a014ffabe4fb506dd7d585c91e7

jobs:
  include:
    - stage: develop
      script: mvn -s .travis.maven.settings.xml --batch-mode deploy