language: java

sudo: false

notifications:
  email:
  - renato.mendes.1123@gmail.com

# Defines stages
# Initialize: the build process, i.e copy files and prepare commands
# Build: maven building the packages, compile
# Test: maven executing the tests
# Scan: Code scan
# Release
# Deploy
# Post deploy
stages:
  - name: build-scan-test
  - name: deploy-test
    if: branch = develop and type != pull_request
  - name: deploy-prod
    if: branch = master and type != pull_request

jdk:
- openjdk8

cache:
  directories:
  - '$HOME/.m2'
  - '$HOME/.sonar/cache'

addons:
  sonarcloud:
    organization: "scipionyx-io-industrially"
    projectKey: "scipionyx-io-industrially-starters"
    token:
      secure: 5d31480c120e3a014ffabe4fb506dd7d585c91e7

jobs:
  include:
    - stage: build-scan-test
      script: mvn --settings .travis.maven.settings.xml --batch-mode test
    - stage: deploy-test
      script: mvn --settings .travis.maven.settings.xml --batch-mode deploy
    - stage: deploy-prod
      script: mvn --settings .travis.maven.settings.xml --batch-mode release:clean release:prepare -Dusername=scipionyx -Dpassword=