language: java

sudo: false

notifications:
  email:
  - renato.mendes.1123@gmail.com

stages:
  - name: PR
    if: type = pull_request
  - name: deploy-branch
    if: branch != develop and branch != master and type != pull_request
  - name: deploy-stage
    if: branch = develop and type != pull_request
  - name: deploy-prod
    if: branch = master and type != pull_request

jdk:
- openjdk8

cache:
  directories:
  - '$HOME/.m2'
  - '$HOME/.sonar/cache'

jobs:
  include:
    - stage: PR
      script: mvn --settings .travis.maven.settings.xml --batch-mode test
    - stage: deploy-branch
      script: mvn --settings .travis.maven.settings.xml --batch-mode deploy
    - stage: deploy-stage
      script: mvn --settings .travis.maven.settings.xml --batch-mode deploy
    - stage: deploy-prod
      script: mvn --settings .travis.maven.settings.xml --batch-mode release:clean release:prepare release:perform

